---
import { Horarios } from '../Horarios'
---

<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title>Horarios IAE 6ºMA</title>
</head>
<body>
	<Horarios client:only='react' />
</body>
</html>

<style>
	:root {
		color-scheme: dark light;
	}
	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0;
	}
</style>